.container {
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  overflow: visible;
}

.time-picker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.submit-button {
  width: 81.5vw;
  height: 5.18svh;
  background-color: #017050;

  border-radius: 1.38svh;

  font-size: 2.3svh;
  color: white;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
