.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.profileSection {
  width: 100%;
  padding: 13px 15px;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  background-color: #fdfdfd;
}

.profileIcon {
  height: 50px;
  aspect-ratio: 1;
  background-color: #d9d9d9;
  border-radius: 50%;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText {
  display: flex;
  flex-direction: column;

  .userName {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .userId {
    font-size: 1rem;
    color: #666;
  }
}

.menuSection {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fdfdfd;
}

.menuItem {
  width: 100%;
  height: 54px;
  padding: 0 13px;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;

  color: #333;

  cursor: pointer;
}

.menuItem:first-child {
  margin-top: 13px;
}
.menuItem:last-child {
  margin-bottom: 13px;
}

footer {
  margin-top: 20px;

  text-align: center;

  font-size: 0.75rem;
  color: #aaa;
}
