.seat-search-filter-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.input-form-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: left;
}

.input-form {
  padding: 10px;
  padding-left: calc(10px + 27px);
  padding-right: calc(10px + 27px);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-input {
  width: 100%;
  height: 40px;
  padding-left: 14px;
  box-sizing: border-box;

  border: none;
  border-radius: 8px;
  background-color: #fdfdfd;

  color: black;
  font-size: 1rem;
}

.time-picker-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom-timepicker-wrapper {
  width: 190px;
}

.custom-timepicker {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  background-color: #fdfdfd;
  border: none;
  border-radius: 8px;

  font-size: 1rem;
}

.custom-timepicker .react-datepicker__time-container {
  border: 1px solid #ddd;
  border-radius: 8px;

  background-color: #fdfdfd;
}

.custom-timepicker .react-datepicker__time-list-item {
  border: 1px solid #ddd;
  border-radius: 8px;

  background-color: #fdfdfd;
}

.grouped-dropdown {
  font-size: 1rem;
}

.grouped-dropdown div {
  border-radius: 8px;

  background-color: #fdfdfd;
}

.navigation-button {
  width: 70%;

  padding: 10px;
  margin-top: 20%;

  background-color: #017050;
  color: #f9f9f9;

  border: 1px solid #dddddd;
  border-radius: 12px;

  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: 200%;
}
