.container {
  width: 100%;
  height: 100%;

  background-color: #10151e;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.backgroundImage {
  width: 100%;

  position: absolute;
  bottom: 0;
}

.loginButton {
  position: absolute;
  bottom: 147px;

  display: flex;
  align-items: center;
  padding: 13px 66px;

  background-color: #fee500;
  border-radius: 2px;

  text-decoration: none;

  .logo {
    width: 18px;
  }

  .text {
    font-size: 1rem;
    color: #020715;
  }
}
