.selectBox {
  [class$="-control"] {
    border: none;
    box-shadow: none;
    border-radius: 8px;

    width: 100%;
    height: 40px;
    font-size: 1rem;
  }

  [class$="singleValue"] {
    color: #000000;
  }
}

.dateSelectBox {
  width: 100%;
  height: 40px;

  border-radius: 8px;
  background-color: #ffffff;

  font-size: 1rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  padding-left: 10px;

  border: none;
}

.timeSelectBox {
  height: 300px;

  border-radius: 8px;
  background-color: #ffffff;
  padding: 10px;

  display: flex;

  justify-content: space-around;

  overflow: scroll;
}

.timeLegend {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 28px;
}

.timeText {
  flex-shrink: 0;
  height: 35px;
  display: flex;
  align-items: center;

  font-size: 1rem;
  color: #000000;
  border: 0.5px solid transparent;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.minuteLegend {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.minuteText {
  height: 28px;
  display: flex;
  align-items: center;

  font-size: 1rem;
  color: #000000;
}

.itemRow {
  margin: -0.5px 10px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
}

.item {
  width: 20%;
  height: 36px;

  border-left: dashed 1px #dddddd;
  border-right: dashed 1px #dddddd;

  margin: -0.5px;
}

.item:first-child {
  border-left: solid 1px #000000;
}
.item:nth-child(4) {
  border-left: solid 1px #000000;
}
.item:last-child {
  border-right: solid 1px #000000;
}
