.container {
  width: 100%;
  margin-bottom: 35px;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;

  margin-bottom: 17px;
}

.itemRow {
  display: flex;
}

.button {
  padding: 8px 16px;
  margin-right: 15px;
  border-radius: 12px;

  border: solid 1px #017050;

  display: flex;
  align-items: center;

  .icon {
    height: 16px;
    aspect-ratio: 1;

    margin-right: 4px;

    border-radius: 50%;
  }

  .text {
    font-size: 0.9375rem;
    font-weight: normal;
  }
}
