.container {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;

  display: flex;

  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.item {
  padding: 8.5px 12px;
  border-radius: 16px;
  font-size: 0.875rem;
  margin-right: 10px;
  border: solid 1px #dddddd;
}

.selected {
  background-color: #dddddd;
  color: #3b3b3b;
}
.notSelected {
  background-color: #ffffff;
  color: #616161;
}
