.background {
  height: 100%;
  width: 100%;

  background-image: url(../../../public/images/background/grayPaper.png);
}

.components {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-bottom: 60px;
}

label {
  font-size: 14px;
  color: #616161;
}

.back-button {
  width: 40%;

  border: none;

  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: #16573f;
  text-shadow: 2px 2px 4px #666;

  padding: auto;
  margin-top: 20%;
}
